services:
  db:
    container_name: postgres_container
    image: postgres:14.17
    ports:
      - 5000:5432
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWARD: postgres
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
