services:
  postgres:
    container_name: postgres_container
    image: postgres:14.17
    ports:
      - 5001:5432
    environment:
      POSTGRES_DB: weather_db
      POSTGRES_USER: weather_user
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/airflow_init.sql:/docker-entrypoint-initdb.d/airflow_init.sql
    networks:
      - my-network


  airflow:
    container_name: airflow_container
    image: apache/airflow:3.0.0
    ports:
      - 8000:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow_db
    volumes:
      - ./dags:/opt/airflow/dags
      - ./api-request:/opt/airflow/api-request
    depends_on:
      - postgres
    networks:
      - my-network
    command: >
      bash -c "airflow db migrate && airflow standalone"

  dbt:
    container_name: dbt_container
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    platform: linux/amd64
    volumes:
      - ./dbt/weather_project:/usr/app
      - ./dbt:/root/.dbt
    environment:
      DBT_PROFILES_DIR: "/root/.dbt"
    working_dir: /usr/app
    depends_on:
      - postgres
    networks:
      - my-network
    command: run

networks:
  my-network:
    driver: bridge